/* -----  google Font  -----*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
 
.main {
	font-family: Roboto, sans-serif;
	font-size: 15px;
	color: #777777;
	line-height: 1.4;
	margin: 0 auto;
	max-width: 700px;
}

.main a {
	font-weight: 400;
	text-decoration: none;
}

.main h2 {
	font-weight: 400;
	color: #333333;
	font-size: 28px;
	text-transform: uppercase;
}

.main strong {
	color: #0c9ec7;
}

/* ----- PANEL HEADING ----- */
.panel-heading {
	margin-top: 5px;
}

.panel-heading a {
	 background-color: #333333;
	 color: #ffffff;
	 display: block;
	 padding: 10px 40px 10px 15px;
	 position: relative;
	 transition: 0.3s;
}

.panel-heading a:hover {
	background-color: #0c5673;
}

.panel-heading a i {
	 font-size: 16px;
	 width: 30px;
}

.panel-heading a::after {
	content: "\f107";
	font-family: "FontAwesome";
	position: absolute;
	right: 15px;
	transition: 0.3s;
}

.panel-heading.in a {
	color: #ffffff;
	background-color: #09afdf;
}

.panel-heading.in a::after {
	transform: rotate(180deg);
}

/* ----- PANEL COLLAPSE ----- */
.main h5 {
	font-size: 20px;
	margin: 10px 0;
}

.panel-collapse {
	padding-bottom: 20px;
	display: none;
}

.wrapper-ul {
	display: flex;
	justify-content: flex-start;
}

.wrapper-ul ul {
	margin-top: 5px;
	padding-left: 20px;
	list-style-type: none;
}

.wrapper-ul li {
	position: relative;
}

.wrapper-ul li::before {
	position: absolute;
	font-family: "FontAwesome";
	content: '\f105';
	color: #09afdf;
	left: -13px;
	top: 0;
}

.wrapper-ul li:first-child::before {
	content: '';
	transition: 0.5s;
}

.wrapper-ul li:first-child {
	color: #333333;
	font-weight: 500 ;
}

.wrapper-ul li:hover::before  {
	transform: translateX(4px);
	color: #097ca6;
}

.wrapper-ul li a {
	font-size: 14px;
	text-decoration: none;
	color: #09afdf;
}

.wrapper-ul li a:hover {
	color: #097ca6;
}

.button {
	margin-top: 20px;
}

.button a {
	background: #09afdf;
	color: #ffffff;
	padding: 8px 25px;
	border-radius: 3px 3px 3px 3px;
	border: 1px solid #0994c4;
	transition: 0.3s;
}

.button a:hover {
	background: #0994c4;
}